{extend name="Public:base" /}

{block name="swiper"}
<div class="swiper-container">
  <div class="swiper-wrapper">
    {volist name="slides" id="vo"}
      <div class="swiper-slide">
        <div class="background" style="background-image: url('{$vo.banner}');"></div>
        <div class="content-layer">
            <h1>案例</h1>
        </div>
      </div>
    {/volist}
  </div>
</div>
{/block}

{block name="content"}
<!-- product-list -->
<div class="product-list">
    <div class="wrap">
        <h2 class="product-list-title">分类
            <span {neq name="cid" value=""}class="r"{/neq}></span>
        </h2>
        <!-- {$cates|json_encode} -->
        <ul class="classification" {eq name="cid" value=""}style="overflow: hidden; display: none;"{/eq}>
            <li {eq name="cid" value=""}class="current"{/eq}>
                <a href="/case">全部</a>
              </li>
            {volist name="cates" id="vo"}
            <li {eq name="cid" value="$key"}class="current"{/eq}>
                <a href="/case?cid={$key}">{$vo}</a>
            </li>
            {/volist}
        </ul>

        {empty name="lists"}
            <div class="empty" style="font-size:20px; padding: 45px 20px; text-align: center;">暂无相关案例记录！</div>
        {else /}
        <ul class="clearfix list">
            {volist name="lists" id="vo"}
            <li class="ant-container">
                <div class="ani1">
                    <a href="{:url('index/product/detail', ['id'=>$vo['id']])}">
                        <div class="thumb" style="background-image: url({$vo.thumb});">
                            <img src="{$vo.thumb}" alt="">
                        </div>
                        <div class="info">
                            <span class="name">{$vo.title}</span>
                            <span class="description">{$vo.description}</span>
                        </div>
                    </a>
                </div>
            </li>
            {/volist}
        </ul>
        {/empty}

        {eq name="post.is_load" value="true"}
            <div class="loading-icon">
                <!-- <img src="/static/website/images/icon/rolling.gif" alt=""> -->
            </div>
            <p class="hint"></p>
        {/eq}
    </div>
</div>
{/block}

{block name="script"}
    <script src="/static/website/plugins/jquery.SuperSlide.2.1.2.js"></script>
    <script>
        $(function() {
            (function() {
                $("#carousel").slide({
                    titCell: ".hd ul",
                    mainCell: ".bd ul",
                    effect: "leftLoop",
                    vis: "auto",
                    autoPlay: true,
                    autoPage: true,
                    trigger: "click",
                    mouseOverStop: false,
                    interTime: 5000,
                    easing: 'easeInOutExpo',
                    delayTime: 800
                });
            })();
        });
    </script>
    <script>
        // 首页手机轮播
        (function() {
            if ('ontouchend' in document.body) {
                // document.write('<script type="text/javascript" src="/static/website/plugins/hammer-2.0.8.min.js"><\/script><script type="text/javascript" src="/static/website/js/gestureForCarousel.js"><\/script>');
            }
        })();
    </script>
    <script>
        var isMobile = navigator.userAgent.toLowerCase().match(/Mobile/i) !== null;
        $(function() {
            // 滚动加载更多需要的变量
            var listObj = {
                listContainer: $('.product-list .list'),
                loadingIcon: $('.product-list').find('.loading-icon'),
                hint: $('.product-list').find('.hint'),
                cid: "{$cid|default=0}",
                size: {$post.load},
                num: 0, //计数器
                isEnd: false, //是否到底了
                flag: 1
            };

            {if condition="$post.is_load eq false"}
                listObj.isEnd = true; //到底了 不加载
            {/if}

            $(window).scroll(function() {
                if (listObj.isEnd === true || listObj.flag === 0) {
                    return;
                }

                if ($(window).height() - ($('.product-list').height() + $('.product-list').offset().top - $(document).scrollTop()) > 80) {
                    
                    //异步加载
                    $.ajax({
                        url: "{:url('index/product/getlists')}",
                        data: {cid:listObj.cid, num:listObj.num},
                        type: 'GET',
                        dataType: 'json',
                        async: true,
                        beforeSend: function() {
                            listObj.flag = 0;
                            listObj.loadingIcon.show();
                        },
                        complete: function() {
                            listObj.flag = 1;
                            listObj.loadingIcon.hide();
                        },
                        success: function(data) {
                            if(data.length>0){
                                var result = '';
                                for (var i = 0; i < data.length; i++) {
                                    result += '<li class="ant-container"><div class="ani1">';
                                    result += '<a href="' + data[i].url + '">';
                                    result += '<div class="thumb" style="background-image: url(' + data[i].thumb + ');"><img src=" ' + data[i].thumb + ' " alt=""></div>';
                                    result += '<span class="name">'+ data[i].title +'</span>';
                                    result += '</a>';
                                    result += '</div></li>';
                                }
                                listObj.listContainer.append(result); //追加

                                // 本次获取的记录数小于指定要获取的记录数，说明已到最后了
                                if(data.length<listObj.size){
                                    listObj.isEnd = true;
                                }

                                setTimeout(function() {
                                    $('.ant-container').each(function() {
                                        var winScrollTop = $(window).scrollTop(),
                                            winHeight = $(window).height(),
                                            offsetTop = $(this).offset().top,
                                            rate = isMobile ? (2.8 / 3) : (2.5 / 3);
                                        if (offsetTop <= winScrollTop + winHeight * rate) {
                                            if (!$(this).addClass('animated')) {
                                                $(this).addClass('animated');
                                            }
                                        }
                                    });
                                    if (listObj.isEnd === true) {
                                        listObj.hint.text('---- 没有更多了 ----').css('color', '#999').show();
                                    }
                                }, 500);

                            }else{
                                listObj.isEnd = true;
                                listObj.hint.text('---- 没有更多了 ----').css('color', '#999').show();
                            }
                        },
                        error: function() {
                            listObj.hint.html('数据加载异常，请稍后重试').show().delay(3000).hide(0);
                        }
                    });

                    listObj.num++; //计数器累加
                }
            });
        });
    </script>
{/block}