{extend name="Public:base" /}

{block name="content"}
    <div class="advantage">
        <div class="wrap">
            <!-- 导入分类 -->
            {include file="advantage/inc_cates" /} 

            <div class="thumb">
                <div class="top ant-container">
                    <img class="ant1" src="{$post.curr_banner}" alt="">
                </div>
                <div class="middle">
                    <ul class="clearfix">
                        <!-- odd 左侧，even右侧，block 100% -->
                        {volist name="lists" id="vo" key="k"}
                            {php}
                            if($vo['num'] == 2){
                                $class = 'block';       //占整行
                            }else{
                                if($k%2 != 0){
                                    $class = 'odd';     //左侧
                                }else{
                                    $class = 'even';    //右侧
                                }
                            }   
                            {/php}
                            <li class="ant-container {$class}"><img class="ant1" src="{$vo.thumb}" alt=""></li>
                        {/volist}                            
                    </ul>
                </div>
            </div>
            {eq name="post.curr_mark" value="photo"}
                <div class="ant-container desc">
                    <p class="ant1 ">（第三方支持：延鹏影像）</p>
                </div>
            {/eq}
        </div>
    </div>
{/block}

{block name="script"}{/block}